.container-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100vw;
    background-color: rgb(201, 198, 198);

    .logo {
        height: 2.5rem;
        border-radius: 2rem;
        border: 2px solid black;
        padding: 0;
    }
}