.tutorial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 100vw;
}

.toggleButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggleButton:hover {
    background-color: #0056b3;
}

.tutorialContainer {
    margin-top: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 0.75rem;
    width: 90%;
}